<h1>List of Lists</h1>

</br>
</br>
 
<table>
 
  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.title, list %></td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td><%= list.description %></td>
 
    </tr>
  <% end %>
</table>

</br>
</br>

<%= link_to 'New List', new_list_path %>
